<!DOCTYPE html>
<html>
<head>
    <title>Deep-Clu Cluster Interperter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" href="logo.png" type="image/png">

    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }

        .header img {
            margin-right: 10px;
        }

        .info-toggle {
            text-decoration: none;
            color: #007bff;
        }

        .info-toggle:hover {
            color: #0056b3;
            text-decoration: underline;
        }

        .survey {
            border: 1px solid black;
            padding: 20px;
            border-radius: 5px;
            background: #f2f2f2;
            width: 100%;
            max-width: 500px;
        }
    </style>
</head>
<body>

    <div class="container survey">
        <div class="header">
            <img src="logo.png" alt="Description of the image" width="45" height="45">
            <h1>eep-Clu</h1>
        </div>

        <div class="header-2"></div>
        <h2>Deep Cluster Interpretation</h2>

        <p>
            <a class="info-toggle" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                More Info
            </a>
        </p>

        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Deep-Clu is an application to help you interpret the results of cluster analysis through the use of large language models (LLMs) such as from GPT-4. <br> <br>
                The application enables you to enter the members of clusters and their comparative risks, and the expertise required to interpret them (e.g., Clinical Expert).
                Deep-Clu will use this information to automatically generate an engineered prompt which solicits interpretations from a LLM for each cluster related to labels, mechanisms for co-occurrence and risk for adverse outcomes, and interventions to reduce the risk of those outcomes. 

                <br><br>You can review and modify the generated prompt from Deep-Clu, and submit it to GPT-4 for interpretation.
            </div>
        </div>

        <form method="POST">
            <div class="form-group">
                <label for="cluster">Enter the name and members for each cluster (e.g. Cluster-1: x, y, z)</label>
                <textarea id="cluster" name="cluster" class="form-control" rows="1"></textarea>
            </div>

            <div class="form-group">
                <label for="expert">Enter the domain expertise required to interpret your clusters (e.g. Clinical, Biology, Chemistry)</label>
                <input type="text" id="expert" name="expert" class="form-control">
            </div>
        
            <div class="form-group">
                <label for="location">Enter the comparative risk of each cluster (e.g. cluster 1 has a higher risk for...)</label>
                <input type="text" id="risk" name="risk" class="form-control">
            </div>

            <div class="form-group">
                <label for="data">Enter any additional questions you might have</label>
                <textarea id="questions" name="questions" class="form-control" rows="1"></textarea>
            </div>

            <div class="form-group">
                <input type="submit" value="Generate" class="btn btn-primary btn-block">

            <div class="form-group">
                <h3> Prompt </h3>
                <textarea id="finalPrompt" class="form-control" rows="1" readonly style="resize: none; overflow: auto;">{{ final_prompt }}</textarea>
            </div>

            <div class="form-group">
                <h3> Output </h3>
                <textarea id="model-output" class="form-control" rows="1" readonly style="resize: none; overflow: auto;">{{ generated_text }}</textarea>
            </div>
    
            </form>
            </div>
        </form>

    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <script>
        function autoResize(element) {
            element.style.height = 'auto';
            element.style.height = (element.scrollHeight) + 'px';
        }

        $(document).ready(function() {
            $("textarea").each(function() {
                autoResize(this);
            }).on('input', function() {
                autoResize(this);  
            });
        });
    </script>
    
    <script>
        $('.info-toggle').on('click', function() {
            if ($(this).text() == 'Less Info') {
                $(this).text('More Info');
            } else {
                $(this).text('Less Info');
            }
        })
    </script>
</body>
</html> 